/* .content {
  margin: auto;
} */
.body-container {
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
}

nav {
  position: fixed;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding: 1vw 8vw;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15 green, blue, alpha);
}

h1,
h2,
.title-text {
  color: #317399;
}

span {
  font-weight: 400;
}

div .add-table {
  display: flex;
  align-items: center;
  justify-content: center;
}

form .addTO-Form {
  margin-right: auto;
  margin-left: auto;
  position: center;
}

form .col {
  margin: 10px 0;
}

form button {
  margin: 10px 15px;
}

.table {
  padding-top: 25px;
}

.container {
  margin: 25px 0;
}

.add-form {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.add-card {
  margin: 20px 10px;
}

.add-table {
  padding-top: 15px;
}
