{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="card add-card">
        <div class="card-header">
          Animals
        </div>
        <div class="card-body">
          <h5 class="card-title">Add Animals</h5>
          <p class="card-text">Add Animals to the Foster System Database</p>
          <a href="/animals" class="btn btn-primary">Click Here</a>
        </div>
      </div>
      <div class="card add-card"">
        <div class="card-header">
          Volunteers
        </div>
        <div class="card-body">
          <h5 class="card-title">Add Volunteers</h5>
          <p class="card-text">Add Volunteers to the Foster System Database.</p>
          <a href="/volunteers" class="btn btn-primary">Click Here</a>
        </div>
      </div>
      <div class="card add-card"">
        <div class="card-header">
          Mentors
        </div>
        <div class="card-body">
          <h5 class="card-title">Add Mentors</h5>
          <p class="card-text">Add Mentors to the Foster System Database.</p>
          <a href="/mentors" class="btn btn-primary">Click Here</a>
        </div>
      </div>
      <div class="card add-card"">
        <div class="card-header">
          Shelter Locations
        </div>
        <div class="card-body">
            <h5 class="card-title">Add Locations</h5>
            <p class="card-text">Add new Locations to the Foster System Database.</p>
            <a href="/locations" class="btn btn-primary">Click Here</a>
        </div>
      </div>
</div>
{% endblock %}