{% extends 'base.html' %} {% block content %}
<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="animal_id">Animal ID</th>
        <th scope="species">Species</th>
        <th scope="name">Name</th>
        <th scope="volunteer_id">Foster</th>
        <th scope="location_id">Location</th>
        <th scope="arrival_date">Arrival Date</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for item in output_data %}
      <tr>
        <!-- <th scope="row">1</th> -->
        <td>{{item.animal_id}}</td>
        <td>{{item.species}}</td>
        <td>{{item.name}}</td>
        <td>{{item.volunteer_id}}</td>
        <td>{{item.location_id}}</td>
        <td>{{item.arrival_date}}</td>
        <form
          method="POST"
          action="{{ url_for('animal_edit', animal_id=item.animal_id) }}"
          id="edit_animal"
        >
          <td>
            <button
              type="submit"
              name="edit_id"
              id="edit_id"
              method="POST"
              class="btn btn-primary"
              value="{{item.animal_id}}"
            >
              Edit
            </button>
          </td>
        </form>
        <td>
          <form
            method="POST"
            action="{{ url_for('delete_animal', animal_id=item.animal_id) }}"
          >
            <button
              type="submit"
              name="delete"
              value="Delete"
              class="btn btn-danger"
            >
              Delete
            </button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="add-table">
  <h2>Add an Animal</h2>
  <form
    class="addTo-Form"
    id="add_animal"
    name="add_animal"
    action="/animals"
    method="POST"
  >
    <div class="form-row">
      <div class="col add-form">
        <input
          type="text"
          class="form-control"
          placeholder="Species"
          name="species"
        />
      </div>
      <div class="col">
        <input
          type="text"
          class="form-control"
          placeholder="Name"
          name="name"
        />
      </div>
      <div class="col">
        <input
          type="text"
          class="form-control"
          placeholder="Foster"
          name="foster"
        />
      </div>
      <div class="col">
        <input
          type="text"
          class="form-control"
          placeholder="Location"
          name="location"
        />
      </div>
      <div class="col">
        <input
          type="text"
          class="form-control"
          placeholder="Arrival Date"
          name="arrival_date"
        />
      </div>
    </div>
    <input type="hidden" name="add_animal" />
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
</div>

{% endblock %}
