{% extends 'base.html' %}

{% block content %}
<div>
<table class="table">
    <thead>
      <tr>
        <th scope="animal_id">Animal ID</th>
        <th scope="species">Species</th>
        <th scope="name">Name</th>
        <th scope="volunteer_id">Foster</th>
        <th scope="location_id">Location</th>
        <th scope="arrival_date">Arrival Date</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Lion</td>
        <td>Simba</td>
        <td>Test1</td>
        <td>Location1</td>
        <td>2021-01-01</td>
        <td><button type="button" class="btn btn-primary">Edit</button></td>
        <td><button type="button" class="btn btn-danger">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>

<div>
    <h2>Add an Animal</h2>
        <form>
            <div class="form-row">
              <div class="col add-form">
                <input type="text" class="form-control" placeholder="Species">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Name">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Foster">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Location">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Arrival Date">
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
</div>
{% endblock %}