{% extends 'base.html' %}

{% block content %}
<div>
<table class="table">
    <thead>
      <tr>
        <th scope="location_id">ID</th>
        <th scope="location_name">Location Name</th>
        <th scope="capacity">Capacity</th>
        <th scope="street_address">Street Address</th>
        <th scope="street_name">Street Name</th>
        <th scope="city">City</th>
        <th scope="state">State</th>
        <th scope="phone">Phone</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for item in output_data %}
      <tr>
        <td>{{item.location_id}}</td>
        <td>{{item.location_name}}</td>
        <td>{{item.capacity}}</td>
        <td>{{item.street_address}}</td>
        <td>{{item.street_name}}</td>
        <td>{{item.city}}</td>
        <td>{{item.state}}</td>
        <td>{{item.phone}}</td>

        <form method="POST" action="{{ url_for('location_edit', location_id=item.location_id) }}"
        id="edit_location">
          <td><button type="submit" name="edit_id" id="edit_id" method="POST" value="{{item.location_id}}" class="btn btn-primary">Edit</button></td>
        </form>
        
        <form method="POST"
        action="{{ url_for('delete_location', location_id=item.location_id) }}">
          <td><button type="submit" class="btn btn-danger">Delete</button></td>
        </form>

      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="add-table">
    <h2>Add a Location</h2>
        <form class="addTo-Form" id="add_location" name="add_location" action="/locations" method="POST">
            <div class="form-row">
              <div class="col add-form">
                <input type="text" class="form-control" placeholder="Location Name" name="location_name">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Capacity" name="capacity">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Street Number" name="street_address">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Street Name" name="street_name">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="City" name="city">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="State" name="state">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Phone" name="phone">
              </div>
            
            <input type="hidden" name="add_location" />
            <button type="submit" class="btn btn-primary">Add</button>
          </div>
          </form>
</div>
{% endblock %}