{% extends 'base.html' %}

{% block content %}
<div>
  
<table class="table">
  <div class="form-group pull-right">
    <input type="text" class="search form-control" placeholder="Search">
  </div>
    <thead>
      
      <tr>
        <th scope="volunteer_id">ID</th>
        <th scope="first_name">First Name</th>
        <th scope="last_name">Last Name</th>
        <th scope="street_address">Street Address</th>
        <th scope="street_name">Street Name</th>
        <th scope="city">City</th>
        <th scope="state">State</th>
        <th scope="phone">Phone</th>
        <th scope="email">Email</th>
        <th scope="experience">Experience Level</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for item in output_data %}
      <tr>
        <td>{{item.volunteer_id}}</td>
        <td>{{item.first_name}}</td>
        <td>{{item.last_name}}</td>
        <td>{{item.street_address}}</td>
        <td>{{item.street_name}}</td>
        <td>{{item.city}}</td>
        <td>{{item.state}}</td>
        <td>{{item.phone}}</td>
        <td>{{item.email}}</td>
        <td>{{item.exp_level}}</td>

        <form method="POST" action="{{ url_for('volunteer_edit', volunteer_id=item.volunteer_id) }}"
        id="edit_volunteer">
          <td><button type="submit" name="edit_id" id="edit_id" method="POST" value="{{item.volunteer_id}}" class="btn btn-primary">Edit</button></td>
        </form>
        <form method="POST"
        action="{{ url_for('delete_volunteer', volunteer_id=item.volunteer_id) }}">
          <td><button type="submit" class="btn btn-danger">Delete</button></td>
        </form>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="add-table">
    <h2>Add a Volunteer</h2>
        <form class="addTo-Form" id="add_volunteer" name="add_volunteer" action="/volunteers" method="POST">
            <div class="form-row">
              <div class="col add-form">
                <input type="text" class="form-control" placeholder="First Name" name="first_name">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Last Name" name="last_name">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Street Address" name="street_address">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Street Name" name="street_name">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="City" name="city">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="State" name="state">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Phone" name="phone">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Email" name="email">
              </div>
            
            
            <select class="custom-select" name="experience_select">
                <option selected>Select an Experience Level</option>
                <option value="1">Beginner</option>
                <option value="2">Intermediate</option>
                <option value="3">Advanced</option>
            </select>
            <input type="hidden" name="add_volunteer" />
            <button type="submit" class="btn btn-primary">Add</button>
              
            </div>
        </form>
</div>
{% endblock %}